{{ define "newcomment" }}
<!DOCTYPE html>
<html>
<head></head>
<body>
<form action="newcomment" method="post">
  <input type="text" name="author" placeholder="Author"><br>
  Content<br>
  <textarea type="text" name="comment"></textarea><br>
  <br>
  <label for="postID"> Post Number </label>
  <input type="number" id="postID" name="postID" min="1" max="100">
  <br>
  <input type="submit" value="Submit">
</form>
</body>
</html>
{{ end }}

