<!DOCTYPE html>
<html>
<head>
 
<style>

body {background-color: green;}

</style>


</head>
<body>
      <h1> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  Base64 Encoding and Decoding </h1>
      <br>

      <h2><a href="/encode"> Plain Text to Encoded Text  </a></h2>

      <h2><a href="/decode">Encoded text to Plain Text </a></h2>
     
 
</body>

</html>

