{{template "header"}}


<ul>
    {{range .}}
    <li> Id: {{.Id}} &emsp;  First-Name: {{.FirstName}} &emsp;  Last-Name: {{.LastName}} &emsp;  Email: {{.Email}} </li>
    {{end}}
</ul>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h4><a href="/">Main Page </a> &emsp; &emsp;
{{template "footer"}}

