{{template "header"}}

<form method="POST">
    <label for="empid">Employee ID</label>
    <input type="number" id="empid" name="eid">
    <br>
    <input type="submit">
</form>

<br>



<br>
<br>
<h4><a href="/">Main Page </a> &emsp; &emsp;
{{template "footer"}}
