{{template "header"}}


<h2>Welcome to J Company. Check the Employee details.</h2>

<br>

<h4><a href="/newemployee">NewEmployee </a> &emsp; &emsp;  <b>To enter new employee details, click on the link. </b>    </h4>
<br>

<h4><a href="/allemployee">AllEmployee </a> &emsp; &emsp;  <b>To get the details of the all employee </b>    </h4>

<br>

<h4><a href="/deleteemployee">DeleteEmployee </a> &emsp; &emsp;  <b>To delete the details of the employee. </b>    </h4>

<br>


{{template "footer"}}

