<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>


<form method="POST">

    <h1> Register New User </h1>
    <br>
    <label for="username">User Name</label>
    <input type="text" id="username" name="username">
    <br>
    <label for="password">Password</label>
    <input type="text" id="password" name="password">
    <br>

    <input type="submit">
</form>

<br>

<h1>The Login status : {{.}}</h1>   


<br>
<br>
<h1>copyright ONKAR</h1>
</body>
</html>

