{{template "header"}}


<h2>Welcome to Main Page. Check the Options.</h2>

<h2><a href="/filecreate">file create</a> &emsp; &emsp;  <b>First Create "route.txt" File. It is hard coded. </b>  </h2>
<h2><a href="/routeadd">route add IPV4</a></h2>
<h2><a href="/routeaddIP6">route add IPV6</a></h2>





{{template "footer"}}
